@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar on mobile while keeping scroll functionality */
@media (max-width: 767px) {
  .hide-scrollbar-mobile::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar-mobile {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

